/*  your css code here. If applicable */
table{
	border-collapse: separate;
	border-spacing: 10px;
	font-family: Arial, sans-serif;
	
}

th,td {
	border: 2px solid #ccc;
	padding: 15px 30px;
	text-align: left;
	border-radius: 10px;
	font-size: 18px;
	background-color: #f9f9f9;
}

th{
	font-weight: bold;
	font-size: 20px;
	background-color: #f0f0f0;
}